body{

margin:0;
font-family:Arial;
background:#0d0d0d;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
overflow:hidden;

}

.card{

width:90%;
max-width:400px;
background:#181818;
padding:25px;
border-radius:20px;
text-align:center;
color:white;
box-shadow:0 0 25px hotpink;

}

h1{

color:pink;

}

h2{

color:#ff69b4;

}

button{

margin-top:20px;
padding:12px 20px;
border:none;
background:#ff4fa0;
color:white;
font-size:18px;
border-radius:12px;
cursor:pointer;

}

button:hover{

transform:scale(1.05);

}

.oculto{

display:none;
margin-top:20px;

}

.hearts::before{

content:"❤️ ❤️ ❤️ ❤️ ❤️ ❤️ ❤️";
position:absolute;
top:-30px;
left:-10%;
font-size:30px;
animation:bajar 10s linear infinite;

}

@keyframes bajar{

0%{

transform:translateY(-50px);

}

100%{

transform:translateY(110vh);

}

}
